<div class="jumbotron">
  <h1>AWARD SYSTEM</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="/sign_up" class="btn btn-primary btn-lg">Sign Up</a>
    <a href="/sign_in" class="btn btn-success btn-lg">Login</a>
    <p>
    </p>
  </div>
  <div class="col-md-6">
  </div>
</div>
